<div class="footer">
    <div>
        <a href="https://www.instagram.com/symple.25125/">
            <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="https://github.com/SympleOrg">
            <i class="fa-brands fa-github"></i>
        </a>
        <a href="https://www.youtube.com/@symple25125">
            <i class="fa-brands fa-youtube"></i>
        </a>
        <a href="https://theorangealliance.org/teams/25125">
            <i class="fa-solid fa-hashtag"></i>
        </a>
        <a href="mailto:symple25125@gmail.com">
            <i class="fa-regular fa-envelope"></i>
        </a>
    </div>
    <p><i class="fa-regular fa-copyright"></i> Copyright Symple. #25125</p>
</div>